.container {
  
}

.item {
    border: 2px solid aqua;
    border-radius: 7px;
    margin: 10px 0px;
    padding: 5px;
    cursor: pointer;
}

.item span {
    padding: 0px 12px;
    border-radius: 50%;
    background-color: aqua;
    margin: 0px 10px;
}